body{
    margin: 0;
    padding: 0;
}
.product{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}
.invoke{
    text-align: center;
}
.product-item{
    border-radius: 10px;
    padding: 20px;
    border: solid 5px gray;
}