body{
    margin: 0;
    padding: 0;
}
.menu{
    width: min-content;
}
.menu li{
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.menu li:hover {
    background-color: #5c4d4d;
}
.menu li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.menu li span {
    font-size: 16px;
}
.content {
    margin-left: 200px;
    padding: 20px;
    padding-top: 10px;
}
li{
    list-style-type: none;
    background-color: rgb(150, 147, 143);
}
