*{
    margin: 0;
    padding: 0;
}
body{
    width: 1280px;
    margin: 0 auto;
    background-color: #162831;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 50px 0;
}
nav{
    display: flex;
    gap: 50px;
}
nav a{
    color: aliceblue;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
.add-seance{
    background-color: #018ABE;
    padding: 9px 15px;
    border-radius: 3px;
    border: none;
    color: aliceblue;
}
.add-seance:hover{
    filter: brightness(1.2);
    cursor: pointer;
}
.add-seance:active{
    filter: brightness(1);
}
#banner{
    background-image: url(../style/img/unsplash_S-llxYh3GzI.svg);
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color: aliceblue;
    text-align: center;
}
#banner h1{
    font-size: 64px;
    font-weight: 700;
}
#banner h2:before{
    content: url(../style/img/Rectangle\ 3.svg);
}
#banner h2:after{
    content: url(../style/img/Rectangle\ 5.svg);
}
h2{
    display: flex;
    gap: 66px;
}
.title{
    font-weight: 700;
    font-size: 42px;
    color: aliceblue;
    margin: auto;
    width: max-content;
}
#ceance{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    color: aliceblue;
}
.title::before{
    content: url(../style/img/decore-blue.svg);
}
.title::after{
    content: url(../style/img/decore-blue.svg);
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.div1 {
    height: 540px;
    grid-area: 1 / 1 / 3 / 2;
    background-position: -200px 0;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}
.seance-style{
    background-image: url(../style/img/bg_seance.jpg);
    display: flex;
    align-items: end;
    padding: 50px;
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    background-size: cover;
    background-color: #018ABE80;
    background-blend-mode: color;
    border-radius: 10px;
    border: #162831 3px solid;
    transition: all .1s linear;
}
.seance-style:hover{
    border-color: #018ABE;
    filter: brightness(1.4) drop-shadow(0 0 10px #018ABE80);
}
main{
    display: flex;
    flex-direction: column;
    gap: 150px ;
}
#feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    color: aliceblue;

}
.feedback-item{
    background-color: #018ABE;
    padding: 45px 40px;
    font-size: 10px;
    opacity: 40%;
    border-radius: 10px;
    height: max-content;
}
.feedback{
    display: flex;
    gap: 50px;
    align-items: center;
}
.feedback-item:nth-child(2){
    opacity: 100%;
    font-size: 14px;
}
.img{
    width: 526px;
    height: 365px;
}
.world{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 84px;
    color: aliceblue;
}
#about{
    color: aliceblue;
    font-size: 16px;
    display: flex;
    gap: 100px;
    flex-direction: column;
}
.wqq{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 466px;
}
.price li{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
}
.price li::before{
    content: url(../style/img/decore-blue.svg);
    position: absolute;
    transform: scale(.7);
    margin-left: -40px;
}
.rub::after{
    content: "₽";
}
.price ul{
    width: 416px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.rub{
    display: flex;
    gap: 5px;
    font-weight: 700;
}
.wex img{
    width: 526px;
    height: 396px;
    border-radius: 10px;
    object-fit: cover;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 134px;
}
.wex p{
    color: aliceblue;
    margin-top: 30px;
    font-size: 21px;
    text-align: center;
    font-weight: 700;
}
#price{
    display: flex;
    gap: 100px;
    flex-direction: column;
}
.map-item{
    background-color: #018ABE;
    border-radius: 10px;
    padding: 35px 45px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
#map{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    height: 604px;

}
.map-item button{
    background-color: aliceblue;
    padding: 9px 15px;
    border-radius: 3px;
    border: none;
    color: #018ABE;

}
.map-item p{
     display: flex;
     gap: 5px;   
     align-items: center;
     justify-content: center;
}
.map-item button:hover{
    filter: brightness(1.2);
    cursor: pointer;
}
.map-item:active{
    filter: brightness(1);
}
footer{
    color: aliceblue;
    display: flex;
    animation: step-end;
}
.map{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
